<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <servlet-name>signupServlet</servlet-name>
    <servlet-class>com.registration.signupServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>signupServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  
    <description></description>
    <servlet-name>signinServlet</servlet-name>
    <servlet-class>com.registration.signinServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>signinServlet</servlet-name>
    <url-pattern>/validation</url-pattern>
  </servlet-mapping>
</web-app>